*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --white0: #FFFFFF;
    --white1: #F5F5F5;
    --white2: #EBEBEB;
    --gray1: #BFBFBF;
    --gray2: #8B8B8B;
    --gray3: #5B5B5B;
    --black: #2F2F2F;
    --green1: #65FBD2;
    --green2: #05C19C;
    --green3: #008B69;
}

.header {

}

.main {
    
}

textarea.canvasRow,
textarea.canvasColumn {
    width: 4rem;
    height: 1rem;
}

.initCanvas,
.backgroundSwitch {
    width: 4rem;
    height: 2rem;
    border: 1px solid var(--black);
}

.backgroundSwitch .on {
    background-color: var(--green1);
}

.canvas,
.background {
    height: 50vw;
    width: 50vw;
    display: grid;
    border: 8px solid var(--green3);
}

.canvas {
    z-index: 1;
}

.background {
    margin-top: -50vw;
    z-index: -1;
}

.rubber {
    width: 10vw;
    height: 10vw;
    border: 1px solid var(--black);
    background-color: var(--white0);
}

.colors {
    width: 25vw;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.color {
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
}

.footer {

}